<!DOCTYPE html>
<html lang="ja">
<%- include('../common/_head',{param:'',title:'お部屋 - 石井花壇 | 温海温泉旅館【公式サイト】'}) %>
  <body>
    <%- include('../common/_top-header',{param:'oheya'}) %>
    
    <%- include('../parts/_p-modal',{param:''}) %>

    <%- include('../common/_p-sub-mv',
    {
    image:'../images/common/oheya-header.jpg ',
    title:' お部屋 '
    }
    ) %>


    <div class="l-sub-breadcrumb p-sub-breadcrumbs">
      <div class="l-inner">
        <%- include('../parts/_c-breadcrumb', {
          navigationList: [
          {
            path: ' ../index.html ',
            label: 'トップ'
          },
          {
            path: '#',
            label: 'お部屋'
          }
          ]
        }); %>
      </div><!-- /.l-inner -->
    </div><!-- /.p-sub-breadcrumbs -->

    <section class="l-sub-oheya p-sub-oheya">
      <div class="l-inner">
　　　<p class="p-sub-oheya__message">創業より受け継がれてきた石井花壇の和の造り<br>温海の雄大な絶景を堪能していただけるように設計された客室<br>ゆるやかに流れ行く時間に身を委ねて</p><!-- /.p-sub-oheya__message -->
    <div class="p-sub-oheya__contents">
      <div class="p-sub-oheya__content">
        <div class="p-sub-oheya__img">
          <img src="../images/common/oheya01.jpg" alt="温泉付き客室写真">
        </div><!-- /.p-sub-oheya__img -->
        <div class="p-sub-oheya__body">
          <h2 class="p-sub-oheya__title">温泉付き客室</h2><!-- /.p-sub-oheya__title -->
          <p class="p-sub-oheya__text">温海の源泉かけ流し露天風呂付き客室になります。<br>
            あなただけの上質な安らぎのひとときを。</p><!-- /.p-sub-oheya__text -->
          <p class="p-sub-oheya__point">＊部屋数に限りがございます。<br>
            ＊洗い場はないため、お体を先に大浴場でお流しになって頂く必要があります。</p><!-- /.p-sub-oheya__point -->
        </div><!-- /.p-sub-oheya__body -->
      </div><!-- /.p-sub-oheya__content -->
      <div class="p-sub-oheya__content">
        <div class="p-sub-oheya__img">
          <img src="../images/common/oheya02.jpg" alt="庭園付き客室写真">
        </div><!-- /.p-sub-oheya__img -->
        <div class="p-sub-oheya__body">
          <h2 class="p-sub-oheya__title">庭園付き客室</h2><!-- /.p-sub-oheya__title -->
          <p class="p-sub-oheya__text">庭園付きの客室になります。<br>
            お庭を見ながら、ほっとするひとときをお過ごしください。</p><!-- /.p-sub-oheya__text -->
          <p class="p-sub-oheya__point">＊お庭は複数のお客様と囲む形になります。<br>
            ＊部屋数に限りがあります。<br>
            ＊ご希望の方は「お抹茶/500円」をルームサービスさせていただきます。</p><!-- /.p-sub-oheya__point -->
        </div><!-- /.p-sub-oheya__body -->
      </div><!-- /.p-sub-oheya__content -->
      <div class="p-sub-oheya__content">
        <div class="p-sub-oheya__img">
          <img src="../images/common/oheya03.jpg" alt="一般客室写真">
        </div><!-- /.p-sub-oheya__img -->
        <div class="p-sub-oheya__body">
          <h2 class="p-sub-oheya__title">一般客室</h2><!-- /.p-sub-oheya__title -->
          <p class="p-sub-oheya__text">最もベーシックな客室になります。伝統の中にモダンさを取り入れた<br>
            内装となっており、とても過ごしやすくしていただけます。</p><!-- /.p-sub-oheya__text -->
          <p class="p-sub-oheya__point">＊全室お部屋より日本海を望むことができます。</p><!-- /.p-sub-oheya__point -->
        </div><!-- /.p-sub-oheya__body -->
      </div><!-- /.p-sub-oheya__content -->
    </div><!-- /.p-sub-oheya__contents -->
      </div><!-- /.l-inner -->
    </section><!-- /.l-sub-oheya p-sub-oheya -->












<%- include('../common/_footer',{param:''}) %>




  </body>
</html>
